div.wrapper {
	@include outer-container;
	padding-right: 1em;
	padding-left: 1em;
	margin: 0 auto;
}

body {
	font-family: 'Proxima-Nova', Georgia;
}

body, html {
	margin: 0;
	margin-bottom: 3em;
	padding: 0;
}


header {
	text-align: center;
	background-color: lighten($purple, 50%);
	width: 100%;
	padding: 10px;
	
	h1 {
		color: $purple;
		margin-bottom: 0.2em;
	}

	p {
		margin-top: 0;
	}

	margin-bottom: 1em;

}

div.sidebar {
	background-color: lighten($purple, 40%);
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 15px;

	p {
		margin-bottom: 0.25em;
	}

	button {
		margin-top: 1em;
	}

	select {
		width: 75%;
	}

	@include media($large) {
		@include shift(0);
		@include span-columns(6);
	}

	@include media($medium) {
		@include shift(0);
		@include span-columns(4);
	}

	@include media($small) {
		@include shift(0);
		@include span-columns(8);
	}

}

div.responses {
	@include media($large) {
		@include shift(0);
		@include span-columns(10);
	}

	@include media($medium) {
		@include shift(0);
		@include span-columns(8);
	}

	@include media($small) {
		@include shift(0);
		@include span-columns(8);
	}
}

div.class {

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	margin-top: 0.4em;
	margin-bottom: 0.4em;

	div.header {
		user-select: none;
		-webkit-user-select: none; 
		-moz-user-select: none;

		position: relative;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		background-color: lighten($purple, 60%);
		padding: 0.4em;
		
		h5 {
			margin-top: 0;
			margin-bottom: 0;
		}
		
		h4 {
			margin-top: 0.0em;
			margin-bottom: 0;
		}

		&:hover {
			cursor: pointer;
			background-color: lighten($purple, 50%);
		}

		ul {
			position: absolute;
			right: 5px;
			top: 5px;
			list-style: none;
			-webkit-padding-start: 0px;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
		}

		li {
			display: inline;
			background-color: white;
			padding: 1px 5px;
			border-radius: 2px;
		}

	}

	div.meta {
		background-color: lighten($purple, 60%);
		width: 100%;
		padding: -0.4em;
		margin-top: 0px;

		p {
			margin: 0 0 0 0 !important;
			padding-top: 0.2em !important;
			padding-bottom: 0.2em !important;

			span {
				font-weight: bold;
			}
		}

	}

	div.content {
		font-size: 0.95em;
		display: none;
		background-color: lighten($purple, 65%);
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;

		p {
			padding-left: 0.4em;
			padding-right: 0.4em;
		}

		p:first-of-type {
			margin-top: 0.5em;
		}

		p:last-of-type {
			padding-bottom: 0.5em;
			margin-bottom: 0.5em;
		}
	}

	&.active {

		div.header {
			background-color: lighten($purple, 50%);
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		div.header:hover {
			background-color: lighten($purple, 40%);
		}

	}
}

footer {
	div.wrapper {
		font-size: 0.8em;
	}
}	
